%h1 Наши работы: жилые и дачные деревянные дома, бани
- if admin?
	= link_to 'New work', new_work_path if admin?
	%br/
- @works.each do |work|
	- if admin?
		= link_to(edit_work_path(work), :class=>'rowbottom-work') do
			= image_tag work.real.url(:thumb), :class => 'proj-img'
			.proj-name= work.info
			.clear
	-else
		= link_to(work.real.url, :class=>'rowbottom-work', :target=>'blank', :title=>"#{work.info}") do
			= image_tag work.real.url(:thumb), :class => 'proj-img', :alt=>"Деревянный дом: #{work.info}"
			.proj-name= work.info
			.clear
