    <h1>ГЛАВНАЯ</h1>
    <p><%= image_tag "images/photo3.jpg", :width=>"167", :height=>"127" %>Наша фирма занимается 
    <%= link_to Page.find_by_name('price') do %><%= "производством и продажей " %><strong>оцилиндрованного бревна</strong><% end %> Ø от 16 до 22 см, пиломатериалов (брус, доска, <strong>столярная доска</strong>), строительством коттеджей, домов и бань из оцилиндрованного бревна по Вашим и своим проектам, включая монтаж инженерных сетей.  </p>
    <p> Мы уделяем большое внимание качеству древесины и используем только экологически чистый материал. В последнее время деревянные дома из оцилиндрованного бревна становятся все более популярными во всем мире, ведь древесина - это уникальнейший материал, созданный самой Природой, обладающий целым рядом положительных качеств, выгодно отличающих ее от других строительных материалов. А современный дизайн деревянных домов из оцилиндрованного бревна позволяет строить жилье, отвечающее всем требованиям о комфорте даже самых требовательных Заказчиков. </p>
    <p> Стремясь сделать работу с нами как можно более удобной и комфортной для заказчика, мы берем на себя максимум забот по организации строительства, обеспечивая выполнение всех базовых и сопутствующих работ. </p>
    <div class="morebutton1"> <%= link_to "ДАЛЕЕ", pages_path %></div>
  </div>
  <div id="boxleft">
    <div class="box_left"></div>
    <div class="box_middle">
      <h2>ПРОЕКТЫ</h2>
      <p><%= image_tag "images/proj.png", :width=>"82", :height=>"82" %> Перед началом любого строительства необходимо определиться с проектом будущего дома. Важно подобрать проект дома из оцилиндрованного бревна, который не только нравился бы внешне, но и подходил Вам функционально, а также обязательно был технологически выверен, надёжен и практичен в эксплуатации.  </p>
<div class="morebutton2"><%= link_to "ДАЛЕЕ", projects_path %></div>
    </div>
    <div class="box_right"></div>
  </div>
  <div id="boxright">
    <div class="box_left"></div>
    <div class="box_middle">
      <h2>ЦЕНЫ</h2>
      <p><%= image_tag "images/photo2.jpg", :width=>"90", :height=>"83" %>В общем случае, на стоимость строительства деревянного дома из оцилиндрованного бревна влияет: вид и размеры фундамента; материал стен (диаметр бревна, вид древесины); оптимальность размеров конструкции; высота этажей; сложность строительной системы дома; сложность и материал кровли; удаленность строительства.  .</p>
      <div class="morebutton2"><%= link_to "ДАЛЕЕ", Page.find_by_name('price') %></div>
    </div>
    <div class="box_right"></div>
