%h1 Редактирование проекта
= render 'form'
= form_tag(add_image_proj_path, :multipart => true ) do
	= hidden_field_tag :project_id, @project.id
	%input{:type=>'file', :name=>'photos[]'}
	%input{:type=>'file', :name=>'photos[]'}
	= submit_tag 'добавить файл'
= link_to 'Show', @project
= link_to 'Back', projects_path
