=# javascript_include_tag "/javascripts/jquery.tinyTips.js", "/javascripts/jqgalscroll.js"
=# stylesheet_link_tag    "jqGalScroll.css", "tinyTips.css"
%h1= @project.name
= link_to 'Edit', edit_project_path(@project) if admin?
= link_to 'Back', projects_path if admin?
.img-list{:style=>"float:left; width:320px;"}
	- count = 1
	- @project.images.each do |image|
		= link_to image.photo.url, :target=>"_blank", :title=>"деревянные дома: #{@project.name} (рис. #{count})" do
			= image_tag image.photo.url(:small), :style=>"margin:10px auto;", :alt=>"деревянные дома: #{@project.name}"
		- count+=1
.boxright
	.box_left
	.box_middle{:style=>'width:420px; height:1300px;'}
		%p{:style=>'font-weight:bold;font-size:15px;padding-top:20px;padding-left:20px;'}!= @project.info.gsub("\r\n", "<br />")
		%br/
		%p
			Для данного проекта требуется:
			%br/
			- @project.house_prices.each do |price|
				%nobr
					= price.count
					куб.м. оцилиндрованного бревна Ø
					= price.size
					&nbsp;мм;&nbsp;
				%br/
			%br/
			!= @project.body
		.morebutton3{:style=>'height:25px'}
			= link_to 'вернуться к списку проектов', projects_path
	.box_right
.clear
%br/
