=# javascript_include_tag "/javascripts/jquery.tinyTips.js", "/javascripts/jqgalscroll.js"
=# stylesheet_link_tag    "jqGalScroll.css", "tinyTips.css"
%h1= @project.name
= link_to 'Edit', edit_project_path(@project) if admin?
= link_to 'Back', projects_path if admin?
.img-list{:style=>"float:left; width:320px;"}
	- @project.images.each do |image|
		= link_to image.photo.url, :target=>"_blank" do
			= image_tag image.photo.url(:small), :style=>"margin:10px auto;"
.boxright
	.box_left
	.box_middle{:style=>'width:420px; height:1300px;'}
		%p{:style=>'font-weight:bold;font-size:15px;padding-top:20px;padding-left:20px;'}!= @project.info.gsub("\r\n", "<br />")
		%br/
		%p
			Для данного проекта требуется:
			%br/
			- @project.house_prices.each do |price|
				%nobr
					= price.count
					куб.м. оцилиндрованного бревна Ø
					= price.size
					&nbsp;мм;&nbsp;
				%br/
			%br/
			!=# @project.body
			%p
				Доставка - в зависимости от местонахождения объекта строительства.
				Пиломатериал изготовлен из местного леса. Заказчик может приобрести пиломатериал самостоятельно, согласно списка,у любого другого поставщика.
		.morebutton3{:style=>'height:25px'}
			= link_to 'вернуться к списку проектов', projects_path
		%h3 Дома из оцилиндрованного бревна – достойный выбор
		%p
			Производственные технологии с использованием оцилиндрованного бревна появились в нашей стране порядка 15 лет назад. Успешно зарекомендовавшие себя в Финляндии, они и в России приобрели неслыханную популярность. Сущность изготовления данного материала для строительства заключается в его доскональной станочной обработке до максимально ровной формы. Это не только увеличивает его визуальную привлекательность, но и повышает плотность подгонки бревен, что положительно сказывается на общей теплоемкости объектов.
		%ul.info-text
			%li Важным преимуществом дома из оцилиндрованного бревна является его экологичность и дешевизна. Природный материал благотворно воздействует на организм человека, позволяя вдыхать выделяемые им полезные вещества. Минимум затрат на изготовление материалов существенно экономит расход средств на их приобретение.
			%li Преимущество дома из оцилиндрованного бревна заключается в его низкой теплопроводности. В зимнее время года такие постройки хорошо удерживают тепло, и это позволяет строить их с небольшой толщиной стен. Затраты на отопление при этом невелики. Летом, наоборот, несмотря на жару, в помещении прохладно.
			%li Сборка дома из оцилиндрованного бревна занимает совсем немного времени, достигается это, благодаря особому процессу изготовления бревна и последующей его маркировке.
			%li Оцилиндрованное бревно обладает строгими геометрическими формами, как следствие, бревно укладывается идеально ровно и не нуждается в соблюдении очередности чередования бревен от фундамента до крыши конструкции.
			%li Каждое готовое бревно проходит очень строгий контроль качества, благодаря чему зазоры в венцовых и угловых соединениях практически отсутствуют.
			%li Дополнительную жесткость стен  придают герметичные венцовые и угловые соединения.
			%li Презентабельный внешний вид.
			%li Не требуется дополнительная внутренняя отделка, что существенно экономит средства.
			%li Сруб из оцилиндрованного бревна - продукт высоких технологий, при сборке которого не требуется дополнительной ручной подгонки. Достоинством оцилиндрованного бревна (ОЦБ) является то, что бревна, которые используются для сборки домов, имеют строгие геометрические параметры.
	.box_right
.clear
%br/
