<p id="notice"><%= notice %></p>

<% @project.images.each do |image| %>
<%= image_tag image.photo.url(:normal) %>
<% end %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Info:</b>
  <%= @project.info %>
</p>

<p>
  <b>Body:</b>
  <%= @project.body %>
</p>

<p>
  <b>Price:</b>
  <%= @project.price %>
</p>

<p>
  <b>Area:</b>
  <%= @project.area %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
