<!DOCTYPE html>
<html>
<head>
  <title>Воронежлес</title>
  <%= stylesheet_link_tag    "application" %>
 	<%= javascript_include_tag "application" %>
 	<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" if admin? %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="top_section">
    <div class="topmenu">
      <ul>
        <li><%= link_to "ГЛАВНАЯ", :root %></li>
        <li><a href="http://www.css-school.ru/">ПРОЕКТЫ</a></li>
        <li><%= link_to "СТРОИТЕЛЬСТВО", construction_path %></li>
        <li><a href="http://www.css-school.ru/">ЦЕНЫ</a></li>
        <li><a href="http://www.css-school.ru/">КОНТАКТЫ</a></li>
        <% if admin? %>
	        <li style="float:right"><%= link_to "выйти", :logout %></li>
	      <% end %>
      </ul>
    </div>
  </div>
  <div id="headersection">
  	<span>Дома из бревна<br /></span> Имея большой опыт работы с деревом, <strong>мы выполняем полный цикл работ по строительству домов и коттеджей</strong> любых размеров и сложности: от помощи в подборе проекта (или индивидуальном проектировании) до изготовления и сборки комплекта дома и строительства «под ключ».
  </div>
	<div id="welcomesection">
		<%= yield %>
	</div>
  <div id="footersection"> © 2012 Воронежлес | Сайт разработан <a href="http://yuliansait.ru">юлиансайт.рф</a></div>
</div>
</body>
</html>
